/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/*============================================
        navbar css part start here
==============================================*/
#navbar_part {
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 99999;
}
#navbar_part .nav_body {
  height: 90px;
}
#navbar_part .nav_body .navbar {
  padding-top: 15px;
}
#navbar_part .nav_body .navbar .nav_logo {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#navbar_part .nav_body .navbar .nav_logo span {
  color: #FD6E0A;
}
#navbar_part .nav_body .collapse ul li {
  padding-left: 30px;
}
#navbar_part .nav_body .collapse ul li a {
  color: #474747;
  font-size: 20px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#navbar_part .nav_body .collapse ul li .nav_btn {
  background: #FD6E0A;
  color: #fff;
  border-radius: 5px;
}

/*============================================
        navbar css part ends here
==============================================*/
/*============================================
         css part start here
==============================================*/
#banner_part {
  position: relative;
  background-image: url(../images/developer.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
#banner_part .banner_body {
  background-image: url(../images/header_bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text {
  padding-top: 290px;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text h3 {
  color: #474747;
  font-size: 35px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text h1 {
  color: #474747;
  font-size: 85px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text p {
  color: #757575;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn1 {
  background: #FD6E0A;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn1 i {
  padding-right: 5px;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn1:hover {
  border: 1px solid white;
  transition: 0.5s;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn2 {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #FD6E0A;
  padding: 10px 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #FD6E0A;
  text-transform: capitalize;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn2 i {
  padding-right: 5px;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn2:hover {
  transition: 0.5s;
  background: #FD6E0A;
  border: 1px solid #FD6E0A;
  color: #fff;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_text .ban_btn .btn2:hover i {
  color: #fff;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_img {
  padding-top: 200px;
  text-align: right;
}
#banner_part .banner_body .container .banner_main .row .col-lg-6 .ban_img img {
  width: 80%;
}

/*============================================
         css part ends here
==============================================*/
/*============================================
        about css part start here
==============================================*/
#about_part {
  width: 100%;
  margin-top: 100px;
}
#about_part .about_body .about_main {
  background-color: #fff8f3;
  padding: 50px;
}
#about_part .about_body .about_main .row .col-lg-12 {
  text-align: center;
}
#about_part .about_body .about_main .row .col-lg-12 .about_text h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#about_part .about_body .about_main .row .col-lg-12 .about_text p {
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding-top: 15px;
}
#about_part .about_body .about_main .row {
  padding-top: 15px;
}
#about_part .about_body .about_main .row .col-lg-3 {
  text-align: center;
}
#about_part .about_body .about_main .row .col-lg-3 p {
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#about_part .about_body .about_main .row .col-lg-3 h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

/*============================================
        about css part ends here
==============================================*/
/*============================================
        what css part start here
==============================================*/
#what_part {
  width: 100%;
  margin-top: 100px;
}
#what_part .what_body .what_main {
  background-color: white;
  padding: 50px;
}
#what_part .what_body .what_main .row .col-lg-12 {
  text-align: center;
}
#what_part .what_body .what_main .row .col-lg-12 .what_text h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#what_part .what_body .what_main .row .col-lg-12 .what_text p {
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding-top: 15px;
}
#what_part .what_body .what_main .what_card {
  margin-top: 50px;
}
#what_part .what_body .what_main .what_card .row .col-lg-3 {
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#what_part .what_body .what_main .what_card .row .col-lg-3 .card_body {
  padding: 15px;
}
#what_part .what_body .what_main .what_card .row .col-lg-3 .card_body .card_text h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#what_part .what_body .what_main .what_card .row .col-lg-3 .card_body .card_text p {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding-top: 15px;
}
#what_part .what_body .what_main .what_card .row .col-lg-3:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*============================================
        what css part ends here
==============================================*/
/*============================================
         css part start here
==============================================*/
#summary_part {
  width: 100%;
  margin-top: 100px;
}
#summary_part .summary_body .container .summary_main {
  background-color: white;
}
#summary_part .summary_body .container .summary_main .row .col-lg-12 {
  text-align: center;
}
#summary_part .summary_body .container .summary_main .row .col-lg-12 .summary_text h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#summary_part .summary_body .container .summary_main .edu_exp {
  margin-top: 80px;
}
#summary_part .summary_body .container .summary_main .edu_exp .row .col-lg-6 h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#summary_part .summary_body .container .summary_main .edu_exp_details {
  margin-top: 30px;
}
#summary_part .summary_body .container .summary_main .edu_exp_details .row .col-lg-6 h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #000;
}
#summary_part .summary_body .container .summary_main .edu_exp_details .row .col-lg-6 h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #757575;
}
#summary_part .summary_body .container .summary_main .edu_exp_details .row .col-lg-6 p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #757575;
  padding-top: 15px;
}
#summary_part .summary_body .container .summary_btn {
  text-align: center;
  margin-top: 30px;
}
#summary_part .summary_body .container .summary_btn a {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #FD6E0A;
  padding: 10px 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #FD6E0A;
  text-transform: capitalize;
}
#summary_part .summary_body .container .summary_btn a i {
  padding-right: 5px;
}
#summary_part .summary_body .container .summary_btn a:hover {
  transition: 0.5s;
  background: #FD6E0A;
  border: 1px solid #FD6E0A;
  color: #fff;
}
#summary_part .summary_body .container .summary_btn a:hover i {
  color: #fff;
}

/*============================================
         css part ends here
==============================================*/
/*============================================
         css part start here
==============================================*/
#footer_part {
  width: 100%;
  margin-top: 50px;
  background: #FFF8F3;
}
#footer_part .footer_body .footer_main {
  padding: 100px 0;
}
#footer_part .footer_body .footer_main .row .col-lg-6 h3 {
  color: #000;
  font-size: 35px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#footer_part .footer_body .footer_main .row .col-lg-6 p {
  color: #474747;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 15px;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_icon a {
  padding-right: 15px;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form {
  padding-top: 15px;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form form label {
  display: block;
  padding-bottom: 15px;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form form label input {
  width: 450px;
  height: 55px;
  padding-left: 20px;
  color: #757575;
  border: none;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form form label #message {
  width: 450px;
  padding-left: 20px;
  color: #757575;
  border: none;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form .foot_btn a {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #FD6E0A;
  padding: 10px 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #FD6E0A;
  text-transform: capitalize;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form .foot_btn a i {
  padding-right: 5px;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form .foot_btn a:hover {
  transition: 0.5s;
  background: #FD6E0A;
  border: 1px solid #FD6E0A;
  color: #fff;
}
#footer_part .footer_body .footer_main .row .col-lg-6 .foot_form .foot_btn a:hover i {
  color: #fff;
}

/*============================================
         css part ends here
==============================================*//*# sourceMappingURL=style.css.map */