/*============================================
         css part start here
==============================================*/
#footer_part{
    width: 100%;
    margin-top: 50px;
    background: #FFF8F3;
    .footer_body{
        .footer_main{
            padding: 100px 0;
            .row{
                .col-lg-6{
                    h3{
                        color: #000;
                        font-size: 35px;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        text-transform: capitalize;
                    }
                    p{
                        color: #474747;
                        font-size: 16px;
                        font-family: 'Open Sans', sans-serif;
                        line-height: 1.5rem;
                        font-weight: 400;
                        padding-top: 15px;
                    }
                    .foot_icon{
                        a{
                            padding-right: 15px;
                        }
                    }
                    .foot_form{
                        padding-top: 15px;
                        form{
                            label{
                                display: block;
                                padding-bottom: 15px;
                                input{
                                    width: 450px;
                                    height: 55px;
                                    padding-left: 20px;
                                    color: #757575;
                                    border: none;
                                }
                                #message{
                                    width: 450px; 
                                    padding-left: 20px;
                                    color: #757575;
                                    border: none;
                                }
                            }
                        }
                        .foot_btn{
                            a{
                                background: #fff;
                                border-radius: 5px;
                                border: 1px solid #FD6E0A;
                                padding: 10px 15px;
                                margin-right: 15px;
                                text-decoration: none;
                                color: #FD6E0A;
                                text-transform: capitalize;
                                i{
                                    padding-right: 5px;
                                }
                                &:hover{
                                    transition: .5s;
                                    background: #FD6E0A;
                                    border: 1px solid #FD6E0A;
                                    color: #fff;
                                    i{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*============================================
         css part ends here
==============================================*/