/*============================================
        what css part start here
==============================================*/
#what_part{
    width: 100%;
    margin-top: 100px;
    .what_body{
        .what_main{
            background-color: #ffff;
            padding: 50px;
            .row{
                .col-lg-12{
                    text-align: center;
                    .what_text{
                        h3{
                            font-size: 35px;
                            font-weight: 700;
                            font-family: 'Open Sans', sans-serif;
                            text-transform: capitalize;
                        }
                        p{
                            color: #757575;
                            font-size: 15px;
                            font-weight: 500;
                            font-family: 'Open Sans', sans-serif;
                            line-height: 1.5rem;
                            padding-top: 15px;
                        }
                    }
                }
            }
            .what_card{
                margin-top: 50px;
                .row{
                    .col-lg-3{
                        // margin-right: 15px;
                        background: #ffff;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        .card_body{
                            padding: 15px;
                            .card_text{
                                h3{
                                    padding-top: 20px;
                                    font-size: 20px;
                                    font-weight: 600;
                                    font-family: 'Open Sans', sans-serif;
                                    text-transform: capitalize;
                                }
                                p{
                                    color: #757575;
                                    font-size: 15px;
                                    font-weight: 400;
                                    font-family: 'Open Sans', sans-serif;
                                    line-height: 1.5rem;
                                    padding-top: 15px;
                                }
                            }
                        }
                        &:hover{
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        what css part ends here
==============================================*/